:root {
    --white: #FFFFFF;
    --black: #000000;
    --orange: #F58021;
    --dark-orange: #D26004;
    --navy: #20113D;
    --turquose: #00A092;
    --dark-turquose: #05786E;
}

html, body {
    padding: 0;
    margin: 0;
}

.scroll-disabled {
    overflow: hidden;
}


/* Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


/* SemiBold */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Italic.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 150%;
}

@media (max-width: 320px) {
    .mobile-block {
        display: block;
        width: 100%;
    }

    .mobile-invisible {
        display: none;
    }

}


h1, h2 {
    text-transform: uppercase;
    color: var(--turquose);
    line-height: 1;
}

h1 {
    font-weight: 800;
    font-size: 40px;
}


h2 {
    font-weight: 500;
    font-size: 26px;
}

h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 26px;
}


.image-wrapper {
    margin: 0 -10px;
}

.image-wrapper img {
    width: 100%;
    display: block;
    height: auto;
}

.container {
    max-width: 100%;
    padding: 0 10px;
}

.subheader {
    font-size: 26px;
    font-weight: 500;
    line-height: 130%;
}

.subheader2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

@media (min-width: 640px) {
    h1, h2, h3 {
        line-height: 100%;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 54px;
        font-weight: 600;
    }

    h3 {
        font-size: 42px;
    }

    .container {
        padding: 0 20px;
    }

    .image-wrapper {
        margin: 0 -20px;
    }

}

@media (min-width: 1200px) {

    h1 {
        font-size: 82px;
    }


    .subheader2 {
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;

    }

    .container {
        padding: 0 40px;
    }

    .image-wrapper {
        margin: 0;
    }

    .image-wrapper img {
        width: auto;
        max-width: 100%;
    }

}

@media (min-width: 1920px) {

    .container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 0;
    }

}

/*--------------Header---------------------------*/

.header {
    background-color: var(--orange);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.header__right-panel {
    display: none;
}


.header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
}

.nav__link {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
}

.nav__link--active {
    color: var(--turquose);
}

.social {
    display: flex;
    gap: 20px;
}

.social__icon {
    width: 40px;
    height: 40px;
}

@media (min-width: 1200px) {

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 100px;
    }

    .header__social {
        display: flex;
        gap: 30px;
    }

    .header__right-panel {
        display: none;
    }

    .header__right-panel {
        display: flex;
        gap: 80px;
    }
}

/*--------------Header----END------------------*/


/*---------------Buttons-----------------*/
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--white);
    border: none;
    text-transform: uppercase;
    padding: 25px 30px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 320px) {
    .button {
        padding: 10px 10px;
        text-transform: capitalize;
    }

}


.button--primary {
    background-color: var(--orange);
    text-transform: uppercase;
}

.button--secondary {
    background-color: var(--turquose);
    text-transform: uppercase;
}

.button--dark {
    background-color: transparent;
    border: 1px solid var(--navy);
    color: var(--navy);
}

.button--white {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.button--orange {
    background-color: transparent;
    color: var(--orange);
    font-weight: 600;
    text-transform: uppercase;
}


.button--primary:hover, .button--primary:active {
    background-color: var(--dark-orange);
}

.button--secondary:hover, .button--secondary:active {
    background-color: var(--dark-turquose);
}

.button--dark:hover, .button--dark:active {
    border-color: var(--white);
    background-color: var(--navy);
    color: var(--white);
}

.button--white:hover, .button--white:active {
    background-color: var(--turquose);
}

.button--orange:hover, .button--orange:active {
    background-color: var(--orange);
    color: var(--white);
}

.donate-button {
    min-width: 300px;
    display: flex;
    padding: 0;
    cursor: pointer;
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.donate-button__text {
    flex: 1;
    font-size: 16px;
    align-self: center;
    text-align: center;
}


.donate-button__icon {
    min-height: 45px;
    min-width: 45px;
    border-radius: 5px;
    background: var(--orange);
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.donate-button:hover .donate-button__icon,
.donate-button:active .donate-button__icon {
    background: var(--dark-orange);
}

@media (min-width: 640px) {
    .donate-button__text {
        padding: 20px;
    }

    .donate-button__icon {
        min-height: 74px;
        min-width: 74px;
    }
}

@media (min-width: 1200px) {
    .donate-button {
        min-width: 320px;
    }
}

/*-----------------Buttons End-----------------------*/


/*-------------Footer-------------------------------*/

.footer {
    background: var(--navy);
    color: var(--white);
    padding: 50px 0;
    text-align: center;
}

.footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer__logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.logo__wrapper img {
    align-self: center;
    flex-shrink: 0;
    width: auto;
    height: auto;
    max-width: 100%;
}

.footer__nav {
    display: flex;
    gap: 20px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 30px 0;
}

.footer__nav a {
    text-decoration: none;
    color: var(--white);
}

.footer__divider {
    height: 1px;
    background: var(--white);
    margin: 40px 0;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.footer__social {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.tablet-divider {
    display: none;
}

@media (min-width: 640px) {


    .footer__logos {
        flex-direction: row;
        justify-content: center;
    }


    .footer__nav {
        font-size: 18px;
        justify-content: center;
        gap: 50px;
    }


    .footer__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .footer__copyright {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .footer__social {
        justify-content: center;
        gap: 50px;
    }

    .tablet-divider {
        display: block;
        margin: 50px -40px;
    }

}

@media (min-width: 1200px) {
    .hide-on-desktop {
        display: none;
    }
}


@media (min-width: 1200px) {

    .footer__top {
        flex-direction: row;
        padding-bottom: 40px;
        justify-content: space-between;
    }

    .footer__bottom--desktop {
        display: flex;
        flex-direction: row-reverse;
    }

    .footer__bottom--desktop > :last-child {
        margin-right: auto;
    }

    .footer__social {
        margin: 0;
    }
}

/*-------------Footer----End------------------------*/


/*----------------Side Menu----------------------*/
.side-menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--navy);
    color: var(--white);
}
.side-menu__container {
    display: flex;
    flex-direction: column;
}

.close-btn {
    align-self: flex-end;
    margin: 15px 15px 0 0;
}

.side-nav {
    margin-top: 50px;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.side-nav li {
    margin-bottom: 45px;
}

.side-nav a {
    text-decoration: none;
    display: block;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
}

.side-nav a.active {
    color: var(--turquose);
}

.open-btn, .close-btn {
    background: none;
    border: none;
    cursor: pointer;
}

/*----------------Side Menu-------END---------*/

@media (min-width: 640px) {
    .mobile-only {
        display: none;
    }

}

.tablet-only {
    display: none;
}

@media (min-width: 640px) and (max-width: 1200px) {
    .tablet-only {
        display: block;
    }
}
@media (min-width: 1200px) {
    .desktop-only {
        display: block;
    }
}


/*-----------------POPUP---------------------------*/
.popup {
    padding: 0;
}
body:has([popover]:popover-open) {
    overflow: hidden;
}

.popup::backdrop {
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: 0.8;
}
.popup.is-active {
    display: flex;
}

.donation-header {
    height: 167px;
    background-size: 150%;
    background-position: 100% center;
    background-image: url("../assets/images/popupHeader.jpg");
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
.popup__content {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    max-width: 640px;
    margin: auto;
    /* padding: 40px 20px; */
    overflow-y: auto;
    /* display: flex; */
    /* flex-direction: column; */
}
@media (min-width: 320px) {
    .popup__content {
        height: auto;
        max-height: 100%;
    }
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.popup__title {
    font-size: 26px;
    text-align: center;
}
.popup__buttons {
    max-width: 320px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    justify-content: space-between;
    gap: 30px 0;
    margin-bottom: 30px;
}

@media (min-width: 640px) {
    .popup__buttons {
        max-width: 445px;
        grid-template-columns: repeat(3, 135px);
    }
}
.popup__buttons > button {
    flex-basis: 130px;
    /* margin: auto; */
}
.popup__layout {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.text-center {
    text-align: center;
}
.popup-title--accent {
    color: #F58021;
}
.popup-header--accent {
    background-color: #F58021;
    color: white;
    text-align: center;
}
.popup-header--accent .popup__title {
    color: white;
    max-width: 200px;
    margin: 30px auto;
}
.donation-info {
    padding: 0;
    border-bottom: 1px solid #A4A8AE;
}
.donation-btns {
    display: flex;
    gap: 30px 0;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.donation-item {
    width: 50%;
    flex: 1;
    /* flex-basis: 130px; */
    margin: auto;
}
.other-amount {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.other-amount-item {
    flex: 1;
    margin: auto;
}
.other-amount-item > input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
}
/*-----------------POPUP---END--------------------*/
