.form__button {
    align-self: flex-start;
}

.formError {
    color: var(--orange);
    margin-top: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    padding: 16px;
}

.tab--inactive {
    background-color: #A4A8AE;
}

.login__nav {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 16px;
}

@media (min-width: 1200px) {
    .login__screen {
        margin: 50px;
        min-width: 500px;
    }
}

