.video__link {
    border: none;
}


.live__inner {
    display: grid;
    grid-template-columns: 1fr;
}

.live__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 50px;

    color: var(--turquose);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;

}


.live__donate--up {
    display: none;
    align-self: center;
}

.live__video {
    margin: 0 -10px;
}


.live__title {
    color: var(--turquose);
}

.live__video img {
    margin: 0 -10px;
}

.live__video img {
    width: 100%;
    border-radius: 6px;
}

.live__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: black;

    text-align: center;
    margin: 20px 0;
}


.live__cams {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 100%;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.live__cams::-webkit-scrollbar {
    display: none;
}

.live__cam {
    flex-shrink: 0;
    position: relative;
    line-height: 0;
    cursor: pointer;
}

.live__badge {
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    text-align: center;
    vertical-align: middle;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 70px;
    height: 23px;

    color: var(--white);
    background-color: transparent;
    border-bottom: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom-right-radius: 5px;
}

.live__badge svg {
    width: 10px;
    height: 10px;
}

.live__cam img {
    object-fit: cover;
    border-radius: 5px;
    width: 140px;
}

.live__cam--active img {
    border: 2px solid var(--orange);
    border-radius: 5px;
}

.live__donate {
    text-align: center;
}

.live__nav {
    display: none;
}

@media (min-width: 640px) {

    .live__header {
        margin: 26px 0;
    }

    .live__video {
        margin: 0 -20px;
    }

    .live__donate {
        grid-row: 3;
        justify-self: end;
    }

    .live__subtitle {
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;

        padding-left: 175px;
        text-align: left;
    }

    .live__subtitle {
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;

        padding-left: 175px;
        text-align: left;
    }

    .live__header {
        font-size: 42px;
    }

    .live__cams {
        padding-left: 175px;
    }

    .live__cam img {
        width: 135px;
    }

    .live__badge svg {
        width: 12px;
        height: 12px;
    }
}

@media (min-width: 1200px) {

    .live__header {
        font-weight: 600;
        font-size: 54px;
        margin: 10px 0;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .live__donate--down {
        display: none;
    }

    .live__top {
        display: flex;
        padding: 26px 0;
    }

    .live__donate--up {
        display: block;
        margin-left: auto;
    }


    .live__video {
        margin: 0 0 0 135px;
    }

    .live__subtitle {
        font-size: 42px;
        line-height: 100%;
        padding: 0;
        text-align: center;
    }

    .live__badge {
        width: auto;
        padding: 10px;
        font-weight: 500;
        font-size: 26px;
        line-height: 100%;
    }

    .live__badge svg {
        width: 20px;
        height: 20px;
    }

    .live__nav {
        display: flex;
        align-items: center;
    }

    .live__nav svg {
        width: 40px;
        height: 40px;
    }

    .live__cam img {
        width: 265px;
    }

    .live__cams {
        padding: 0;
        margin: 0 0 0 135px;

    }

}



@media (min-width: 1920px) {


    .live__nav svg {
        width: 80px;
        height: 74px;
    }

    .live__cam img {
        width: 309px;
    }

    .live__cams {
        margin: 0 ;

    }

}