.gallery {
    text-align: center;
    padding-bottom: 50px;
}

.gallery__title {
    text-align: center;
}


@media (min-width: 1200px) {

    .gallery {
        text-align: center;
        margin: 100px 0;
    }

}

@media (min-width: 1920px) {

    .gallery__subheader {
        margin: 0 auto;
        max-width: 920px;
    }
}