.drawer__container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    height: fit-content;
    margin-right: -50px;
}

.drawer {
    background-color: var(--navy);
    color: var(--white);
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    width: 50px;
    pointer-events: auto;
}


.drawer--expanded {
    width: 230px;
}

.drawer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}


.drawer__item, .drawer__header, .drawer__footer {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid var(--white);
}

.drawer__header, .drawer__footer {
    justify-content: center;
}

.drawer__header {
    position: relative;
}

.drawer__item {
    justify-content: flex-start;
}

.drawer__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.drawer__text {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.drawer__icon-wrap, .drawer__arrow-wrap {
    width: 50px;
    color: var(--orange);
    text-align: center;
}

.drawer__icon-wrap--active {
    color: var(--white);
}

.drawer__icon {
    width: 28px;
    height: 28px;
}


.drawer__left-icon--expanded {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.drawer__badge {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--orange);
    border-bottom-right-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;

}

.drawer__badge--visible {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 91px;
    height: 30px;

    align-self: flex-start;
}

.drawer__collapse, .drawer__down-button {
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.drawer__collapse--expanded {
    margin-left: auto;
}

@media (min-width: 640px) {

    .drawer {
        width: 78px
    }

    .drawer--expanded {
        width: 233px;
    }

    .drawer__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        -webkit-line-clamp: 3;
    }

    .drawer__item {
        height: auto;
    }

    .drawer__icon-wrap {
        width: 78px;
    }

    .drawer__icon {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1200px) {

    .drawer {
        width: 115px
    }

    .drawer--expanded {
        width: 300px;
    }

    .drawer__item {
        padding: 30px 30px 30px 0;
    }

    .drawer__badge--visible {
        width: 144px;
        height: 38px;
    }

    .drawer__icon-wrap {
        width: 115px;
    }

    .drawer__header, .drawer__footer {
        padding: 15px 0;
    }
}


@media (min-width: 1920px) {

    .drawer {
        width: 220px
    }

    .drawer--expanded {
        width: 300px;
    }

    .drawer__circle--collapsed {
        min-width: 220px;
        display: flex;
        justify-content: center;
    }

    .drawer__icon-wrap--collapsed, .drawer__icon-wrap--active--collapsed {
        width: 104px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        outline-offset: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--navy);

    }

    .drawer__icon-wrap--collapsed {
        background-color: var(--orange);
        outline: 2px solid var(--orange);

    }

    .drawer__icon-wrap--active--collapsed {
        background-color: var(--white);
        outline: 2px solid var(--white);
        outline-offset: 4px;
    }

}
