
.reviews {
    text-align: center;
    background-color: var(--navy);

}

.reviews__header {
    color: var(--white);
}

.reviews__title {
    color: var(--white);
    font-size: 26px;
}
.slider__buttons > button {
    width: 60px;
    height: 60px;
    padding: 0;
}
.slider__buttons {
    max-width: 180px;
    display: none;
    justify-content: space-between;
}
.cardGrid {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
    transition: transform 0.7s;
    max-width: 100%;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .cardGrid {
        display: grid;
        grid-auto-columns: 60%;
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        gap: 30px;
        margin-bottom: 100px;
    }
    .reviews {
        text-align: left;
        padding-bottom: 135px;
        background-image: url('../../../../public/images/panda Background 2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .reviews__title {
        max-width: 440px;
    }

    .reviews__subtitle {
        max-width: 577px;
        margin-bottom: 60px;
    }


    .button__feedback {
        margin-left: 100px;
    }

    .reviews__image {
        display: none;
    }

    .slider__buttons {
        display: flex;
        margin-left: auto;
        margin-right: 40px;
        margin-bottom: 100px;
    }
}

.reviews__container {
    max-width: 100%;
    padding: 0 10px;

}
@media (min-width: 640px) {
    .reviews__container {
        padding: 0 20px;
        padding-right: 0;
    }
}
@media (min-width: 1200px) {
    .reviews__container {
        padding: 0 40px;
        padding-right: 0;
    }
}
@media (min-width: 1920px) {

    .reviews {
        padding-bottom: 150px;
    }

    .reviews__container {
        padding-top: 100px;
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: auto 1fr;
        padding-right: 0;
    }

    .slider__buttons {
        margin-bottom: 376px;
    }

    .button__feedback {
        margin-left: 0;
        grid-row: 3;
    }

    .slider__buttons {
        display: flex;
        margin-left: 0;
        margin-bottom: 376px;
    }
}