/* ===== LAYOUT ===== */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ================= LIVE ================= */

.live {
    padding: 60px 0;
}

.live__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.live__title {
    color: #0bb39c;
    font-size: 32px;
}

.live__video img {
    width: 100%;
    border-radius: 6px;
}

.live__subtitle {
    text-align: center;
    margin: 40px 0 20px;
}

.live__cams {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.live__cam {
    position: relative;
    cursor: pointer;
}

.live__cam img {
    width: 180px;
    border-radius: 4px;
}

.live__cam--active {
    border: 2px solid #f58220;
}



/* ================= FACT ================= */

.fact {
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.fact__card {
    background: white;
    padding: 40px;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* ================= ANIMAL INFO ================= */

.animal-info {
    padding: 60px 0;
}

.animal-info__container {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.animal-info__image img {
    width: 350px;
    border-radius: 6px;
}

.animal-info__list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.animal-info__map {
    color: #f58220;
    margin-left: 10px;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

    .live__header {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .live__cams {
        flex-direction: column;
        align-items: center;
    }

    .donation-banner__container {
        flex-direction: column;
        text-align: center;
    }

    .animal-info__container {
        flex-direction: column;
    }

    .animal-info__image img {
        width: 100%;
    }

}

.donation {
    text-align: center;
    background-color: var(--navy);
    color: var(--white);
    padding: 30px 0;
}

.donation__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.right-title {
    margin: 2px 0;
}

@media (min-width: 1200px) {

    .donation__container {
        display: flex;
        gap: 100px;
    }

    .donation__left {
        text-align: left;
        flex: 7;
    }

    .donation__right {
        flex: 3;
        min-width: 300px;
        align-items: flex-start;
    }

    .left-title {
        margin: 50px 0;
    }

    .right-title {
        margin: 50px 2px 0;
    }
}

@media (min-width: 1920px) {

    .donation__text {
        max-width: 610px;
    }
}
